<div class="header">
        <div class="container">
            <div class="inner-wrap">
                <div class="blog-name">
                    LONGRAUTV
                </div>
                <div class="blog-menu">
                    <ul class="inner-menu">
                        <div class="blog-name mobile">
                            LONGRAUTV
                        </div>
                        <li class="inner-menu-item active">Blog</li>
                        <li class="inner-menu-item">Projects</li>
                        <li class="inner-menu-item">
                            <a href="/about" target="_blank">About</a>
                        </li>
                        <li class="inner-menu-item">Newsletter</li>
                        <li>
                            <div class="toggle-dark-light">
                                <i class="fa-regular fa-sun"></i>
                                <i class="fa-regular fa-moon"></i>
                            </div>
                        </li>
                        <div class="close-toggle">
                            <i class="fa-solid fa-x"></i>
                        </div>
                    </ul>
                </div>
                <div id="icon-mobile" class="icon-mobile">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>
    </div>