<div class="hero">
    <div class="container text-center">
        <h1 class="hero-title"><%- settingGeneral?.aboutTitle%></h1>
    </div>
</div>

<div class="about">
    <div class="container">
        <div class="avatar mb-5">
            <img src="<%= settingGeneral?.aboutAvatar%>" alt="Ảnh đại diện">
        </div>
        <div class="about-content title-color">
            <%- settingGeneral?.aboutContent%>
        </div>
    </div>
</div>