<div class="delete">
    <form action="<%= del %>/<%= id %>?_method=DELETE" method="POST"
        onsubmit="return confirm('Bạn có chắc muốn xoá không?')" style="display:inline-block">

        <button type="submit" class="btn btn-danger btn-sm">
            Xoá
        </button>
    </form>

</div>