<div class="sider">
    <div class="sider-info">
        <div class="inner-wrap">
            <div class="avatar">
                <img src="/images/2tp.jpg" alt="">
            </div>
            <div class="info-account">
                <span class="info-name">Nguyễn Hoàng Phi Hưng</span>
                <span class="info-email">nhph20049@gmail.com</span>
            </div>
        </div>
    </div>
    <div class="sider-menu">
        <ul>
            <li class="sider-item">
                <i class="fa-solid fa-blog"></i>
                <a href="/admin/blogs" target="_self">Bài viết</a>
            </li>
            <li class="sider-item">
                <i class="fa-solid fa-tag"></i>
                <a href="/admin/tags" target="_self">Thể loại</a>
            </li>
        </ul>
        <div class="toggle-theme">
             <div class="toggle-thumb"></div>
            <div class="toggle-option light">
                 <i class="fa-regular fa-sun"></i>
                 <span>Light</span>
            </div>
            <div class="toggle-option dark">
                <i class="fa-regular fa-moon"></i>
                <span>Dark</span>
            </div>
        </div>
    </div>
</div>